@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-light-gray: #e5e7eb;
  --color-beige: #bfb8b0;
  --color-red: #ff5757;
  --color-dark: #3b3b3b;
}

body {
  background-color: var(--color-white);
  color: var(--color-dark);
  min-height: 100vh;
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
  color: var(--color-dark);
}

.header-text{
  font-size: 35px;
  color: var(--color-dark);
  font-family: 'Karla', sans-serif;

}

.border-red {
  border-color: var(--color-red);
}

.btn-primary {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  font-size: 18px;
  font-family: 'Karla', sans-serif;

}
